@use "../breakpoints";

.experiments {
  width: 100%;
  height: 100%;
  padding-right: var(--padding);
  padding-left: var(--padding);
  background: #000F22;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .blur {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: rgba(88, 72, 185, 0.3);
    filter: blur(169px);
    z-index: 0;
  }

  .experimentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;

    @include breakpoints.width(md) {
      gap: 0;
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: flex-end;
      align-items: center;

      p {
        max-width: 70%;
        text-align: center;
      }
    }


    --card-width: 500px;

    @include breakpoints.width(lg) {
      --card-width: 350px;
    }

    .cards {
      flex: 1;
      list-style: none;
      display: flex;
      align-items: center;

      @include breakpoints.width(md) {
        flex-direction: column-reverse;
        flex-basis: 300px;
      }

      .card {
        aspect-ratio: 5 / 3;
        width: var(--card-width);
        position: relative;
        height: fit-content;
        transition: transform 200ms ease-in-out;

        //Desktop
        &:not(:first-child) {
          margin-left: calc(var(--card-width)/1.5*-1);
        }

        &:hover ~ .card, &:focus-within ~ .card {
          transform: translateX(calc(var(--card-width) / 2));
        }

        //Mobile
        @include breakpoints.width(md) {
          margin-left: 0!important;

          &:not(:first-child) {
            margin-bottom: calc(var(--card-width)/1.5*-1);
          }

          &:hover ~ .card, &:focus-within ~ .card {
            transform: translateY(calc(var(--card-width) / 1.9));
          }
        }

        &:hover {
          transform: scale(1.1);

          .image {
            filter: grayscale(0) invert(0);
          }
        }

        .image {
          width: var(--card-width);
          aspect-ratio: 5 / 3;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          filter: grayscale(0%) invert(10%);
          border-radius: 5px;

          img {
            min-height: 100%;
            min-width: 100%;
          }
        }

        .text {
          text-transform: uppercase;
          position: absolute;
          left: 1rem;
          bottom: 1rem;
          display: flex;
          flex-direction: column;
          text-shadow: 0 0 10px #000;

          .number {
            font-size: 0.9em;
            font-family: var(--font-mono);
          }

          .title {
            font-weight: 700;
            transition: all 0.2s;
            line-height: 1;
          }
        }
      }
    }
  }
}
