.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav {
    height: 4em;

    .navLinks {
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      gap: 3em;

      .link {
        font-size: 1rem;
        height: 1.5rem;

        &::after {
          content: "";
          display: block;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          border-bottom: 2px solid var(--text);
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      .active {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
