@use "styles/breakpoints";

.title {
  width: fit-content;
  font-family: var(--font-title);
  font-size: 3.5rem;
  color: var(--text);

  @include breakpoints.width(md) {
    font-size: 2rem;
  }

  h1 {
    margin: 0;
  }

  .line {
    width: 8rem;
    height: 3px;
    background-color: var(--text);
  }
}
